<div class="row">
  <div class="col-xs-offset-0 col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10" >
    <h2>Code samplings</h2>
      <!-- A slice of code[lets]: -->
      <p class="header-subtext">Real world apps, modules and sandbox forays.</p>

      <ul class="list-group projects">
        <li class="list-group-item" ng-repeat="project in coding.projects | orderBy: 'sortOrder'">
          <a href="{{project.href}}"
             target="_blank"
             class="project-title">

              {{project.title}}
          </a>

          <p>
            {{project.description}}
          </p>
          <p ng-if="project.notes"
             class="project-notes">
              {{project.notes}}
          </p>

          <div class="project-technology">
            <div class="label label-primary"
                  ng-repeat="tech in project.technology track by $index">
                {{tech}}
            </div>
          </div>
        </li>
      </ul>

    </div>
</div>
